version: "3.9"

services:
  api:
    build: server
    ports:
      - 5000:80
    depends_on:
      - db
  
  db:
    image: "mcr.microsoft.com/mssql/server"
    ports:
      - 1433:1433
    environment:
      SA_PASSWORD: "Your_password123"
      ACCEPT_EULA: "Y"
